In [7]:
import pandas as pd

data_2024Q1 = pd.read_csv(
    "data/2024Q1.csv",
    delimiter="|",
    header=None,
    nrows=100_000
)

C:\Users\zachl\AppData\Local\Temp\ipykernel_56396\585709045.py:3: DtypeWarning: Columns (105) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2024Q1 = pd.read_csv(

In [9]:
data_2024Q1

,0,1,2,3,4,5,6,7,8,9,...,100,101,102,103,104,105,106,107,108,109
0,NaN,137581448,12024,R,Other,Other,NaN,6.990,6.990,450000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
1,NaN,137581448,22024,R,Other,Other,NaN,6.990,6.990,450000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
2,NaN,137581448,32024,R,Other,Other,NaN,6.990,6.990,450000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
3,NaN,137581448,42024,R,Other,Other,NaN,6.990,6.990,450000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
4,NaN,137581448,52024,R,Other,Other,NaN,6.990,6.990,450000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,137590079,52024,R,Freedom Mortgage Corp.,Freedom Mortgage Corp.,NaN,8.375,8.375,221000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
99996,NaN,137590079,62024,R,Freedom Mortgage Corp.,Freedom Mortgage Corp.,NaN,8.375,8.375,221000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
99997,NaN,137590079,72024,R,Freedom Mortgage Corp.,Freedom Mortgage Corp.,NaN,8.375,8.375,221000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
99998,NaN,137590079,82024,R,Freedom Mortgage Corp.,Freedom Mortgage Corp.,NaN,8.375,8.375,221000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN
99999,NaN,137590079,92024,R,Freedom Mortgage Corp.,Freedom Mortgage Corp.,NaN,8.375,8.375,221000.0,...,NaN,7,N,NaN,NaN,7,NaN,NaN,7,NaN